button.btn-close:focus{
    box-shadow: 0 0 0 0;
}
.btn-close{
    background:  transparent url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(37, 52, 91, 1)' ><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z' /></svg>") center/1em auto no-repeat;
    opacity: 0.8;
}
.btn-close:hover{
    opacity: 1;
}
#modalDialog .modal-content,
#window_after_sending .modal-content,
#modalDialogСalculate .modal-content,
#modalReviews .modal-content,
#modalSeeConditions .modal-content{
    border-radius: 20px;
    background: #EDF2FD;
    position: relative;
    overflow: hidden;
}
#modalDialog .modal-content::after,
#modalDialogСalculate .modal-content::after,
#window_after_sending .modal-content::after,
#modalReviews .modal-content::after,
#modalSeeConditions .modal-content::after{
    content: '';
    background: url(../image/icon/ellipse-blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 300%;
    height: 300%;
    bottom: -40%;
    right: -80%;
    z-index: 1;
}

#modalDialog .modal-content .modal-header,
#window_after_sending .modal-content .modal-header,
#modalDialogСalculate .modal-content .modal-header,
#modalReviews .modal-content .modal-header,
#modalSeeConditions .modal-content .modal-header{
    align-items: flex-start;
    padding: 20px 20px 16px 20px;
    border-bottom: 0;
    position: relative;
    z-index: 2;
}
#modalDialog .modal-content .modal-header.mobile,
#modalReviews .modal-content .modal-header.mobile,
#modalSeeConditions .modal-content .modal-header.mobile,
#modalDialogСalculate .modal-content .modal-header.mobile,
#window_after_sending .modal-content .modal-header.mobile{
    display: none;
    position: relative;
    z-index: 2;
}
#modalDialog .modal-content .modal-header .modal-title,
#modalDialogСalculate .modal-content .modal-header .modal-title,
#window_after_sending .modal-body h2{
    width: 100%;
    text-align: center;
    color: #25345B;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

#modalReviews .modal-content .modal-body p{
    display: none;
    color:  #25345B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}
#modalReviews .modal-content .modal-body img{
    width: 60%;
    height: auto;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
#window_after_sending .modal-body{
    padding-top: 208px;
    padding-bottom: 260px;
    position: relative;
    z-index: 2;
}
#modalDialog .modal-content .modal-body,
#modalDialogСalculate .modal-content .modal-body,
#modalReviews .modal-body{
    padding: 0 110px 60px 110px;
    position: relative;
    z-index: 2;
}
#modalSeeConditions .modal-body{
    padding: 0 40px 60px 40px;
    position: relative;
    z-index: 2;
}
#modalSeeConditions .modal-body .text{
    color:  #25345B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 14px;
}
#modalSeeConditions .modal-body .text span.sub{
    margin-left: 15px;
}
#modalSeeConditions .modal-body .text a{
    color: #25345B;
}
#modalSeeConditions .modal-body div > .text:last-child{
    margin-bottom: 0;
}
#modalSeeConditions .modal-body>div{
    margin-bottom: 30px;
}
#modalSeeConditions .modal-body>div:last-child{
    margin-bottom: 0;
}
#modalSeeConditions .modal-body .text span{
    font-weight: 600;
}
#modalDialog .modal-content .modal-body .modal-title.mobile,
#modalDialogСalculate .modal-content .modal-body .modal-title.mobile,
#window_after_sending .modal-body .modal-title.mobile{
    display: none;
}
#modalDialog .modal-content .modal-body .sub-title,
#modalDialogСalculate .modal-content .modal-body .sub-title{
    color:  #25345B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 40px;
}
 #modalDialogСalculate .modal-content .modal-body .sub-text{
    color:  #25345B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 40px;
}
#modalDialogСalculate .modal-content .modal-body .sub-text>span{
    white-space: nowrap;
}
/*#modalDialogСalculate .modal-content .modal-body .sub-text > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#modalDialogСalculate .modal-content .modal-body .sub-text > div > p{
    color:  #25345B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
}
#modalDialogСalculate .modal-content .modal-body .sub-text>div>p:last-child{
    text-align: right;
}
#modalDialogСalculate .modal-content .modal-body .sub-text>div>p span{
    font-weight: 600;
} */
#modalDialog .modal-content form,
#modalDialogСalculate .modal-content form{
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modalDialog .modal-content form > .form-group,
#modalDialogСalculate .modal-content form>.form-group{
    margin-bottom: 16px;
    width: 100%;
}
#modalDialog .modal-content form>.form-group:nth-child(3),
#modalDialogСalculate .modal-content form>.form-group:nth-child(3){
    margin-bottom: 40px;
}
#modalDialog .modal-content form>.form-group > input,
#modalDialog .modal-content form>.form-group>textarea,
#modalDialogСalculate .modal-content form>.form-group>input,
#modalDialogСalculate .modal-content form>.form-group>textarea{
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 12px 16px 12px 50px;
}
#modalDialog .modal-content form>.form-group>input:focus,
#modalDialog .modal-content form>.form-group>textarea:focus,
#modalDialogСalculate .modal-content form>.form-group>input:focus,
#modalDialogСalculate .modal-content form>.form-group>textarea:focus{
    background: #FFF;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
    transition: background-color 5000s ease-in-out 0s;
}
#modalDialog .modal-content form>.form-group:nth-child(3) > textarea,
#modalDialogСalculate .modal-content form>.form-group:nth-child(3)>textarea{
    padding-left: 16px;
}
#modalDialog .modal-content form>.form-group>img,
#modalDialogСalculate .modal-content form>.form-group>img{
    width: 24px;
    height: 24px;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
    left: 16px;
    top: 12px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #8D929F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
textarea::-moz-placeholder {
    color: #8D929F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
#modalDialog .modal-content form > button,
#modalDialogСalculate .modal-content form>button{
    border-radius: 8px;
    background:#25345B;
    padding: 12px 24px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    border: 0;
}
#modalDialog .modal-content form>button:hover,
#modalDialogСalculate .modal-content form>button:hover{
    background-color: #0E1D44;
    transition: 0.2s;
    transition-timing-function: linear;
}


@media only screen and (max-width : 992px){
    #modalDialog .modal-content .modal-body, 
    #modalDialogСalculate .modal-content .modal-body{
        padding-right: 80px;
        padding-left: 80px;
    }
    #modalDialog .modal-content::after,
    #window_after_sending .modal-content::after,
    #modalDialogСalculate .modal-content::after{
        bottom: -90%;
        right: -30%;
    }
    #modalReviews .modal-body{
        padding-right: 60px;
        padding-left: 60px;
    }
    #modalSeeConditions .modal-body{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #modalSeeConditions .modal-body .text{
        font-size: 16px;
        line-height: 22px;
    }
    #modalReviews .modal-content .modal-body img{
        width: 100%;
    }
}
@media only screen and (max-width : 572px){
    #modalDialog .modal-content::after,
    #window_after_sending .modal-content::after,
    #modalDialogСalculate .modal-content::after{
        top: -30%;
        left: -40%;
    }
}
@media only screen and (max-width : 480px){
    #modalDialog .modal-content .modal-body, 
    #modalDialogСalculate .modal-content .modal-body{
        padding-right: 20px;
        padding-left: 20px;
    }
    #modalDialog .modal-content form, 
    #modalDialogСalculate .modal-content form,
    #modalDialogСalculate .modal-content .modal-body .sub-text{
        width: 100%;
    }
    #modalDialog .modal-dialog-centered,
    #modalDialogСalculate .modal-dialog-centered,
    #window_after_sending .modal-dialog-centered,
    #modalReviews .modal-dialog-centered,
    #modalSeeConditions .modal-dialog-centered,
    #modalDialog .modal-content,
    #modalDialogСalculate .modal-content,
    #window_after_sending .modal-content,
    #modalReviews .modal-content,
    #modalSeeConditions .modal-content{
        height: 100%;
        margin: 0;
    }
    #modalDialogСalculate .modal-content .modal-body .sub-text{
        padding-left: 0;
        padding-right: 80px;
    }
    #modalDialog .modal-content,
    #window_after_sending .modal-content,
    #modalDialogСalculate .modal-content,
    #modalReviews .modal-content,
    #modalSeeConditions .modal-content{
        border-radius: 0px;
    }
    #modalDialog .modal-content .modal-header .modal-title,
    #modalDialogСalculate .modal-content .modal-header .modal-title,
    #window_after_sending .modal-body h2,
    #modalDialog .modal-content .modal-body .sub-title,
    #modalDialogСalculate .modal-content .modal-body .sub-title,
    #modalDialogСalculate .modal-content .modal-body .sub-text{
        text-align: left;
    }
    #modalDialog .modal-content .modal-header.desctop,
    #modalReviews .modal-content .modal-header.desctop,
    #modalSeeConditions .modal-content .modal-header.desctop,
    #modalDialogСalculate .modal-content .modal-header.desctop,
    #window_after_sending .modal-content .modal-header.desctop{
        display: none;
    }
    #modalDialog .modal-content .modal-header.mobile,
    #modalReviews .modal-content .modal-header.mobile,
    #modalSeeConditions .modal-content .modal-header.mobile,
    #modalDialogСalculate .modal-content .modal-header.mobile,
    #window_after_sending .modal-content .modal-header.mobile{
        display: flex;
        align-items: center;
    }
    #modalDialog .modal-content .modal-body .modal-title.mobile,
    #modalDialogСalculate .modal-content .modal-body .modal-title.mobile,
    #window_after_sending .modal-body .modal-title.mobile{
        display: block;
        margin-bottom: 16px;
        color: #25345B;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
    #window_after_sending .modal-body{
        padding-top: 40px;
    }
    #modalDialog .modal-content .modal-header,
    #window_after_sending .modal-content .modal-header,
    #modalDialogСalculate .modal-content .modal-header,
    #modalReviews .modal-body .modal-header,
    #modalSeeConditions .modal-content .modal-header{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #modalDialog .modal-content .modal-body,
    #modalDialogСalculate .modal-content .modal-body,
    #modalReviews .modal-content .modal-body,
    #modalSeeConditions .modal-content .modal-body{
        padding-top: 40px;
    }
    #modalReviews .modal-content .modal-body,
    #modalSeeConditions .modal-content .modal-body{
        padding-right: 20px;
        padding-left: 20px;
    }
    #modalDialog .modal-content::after,
    #window_after_sending .modal-content::after,
    #modalDialogСalculate .modal-content::after{
        top: 0%;
        left: -80%;
        width: 350%;
        height: 350%;
    }
}
@media only screen and (max-width : 400px){
    #modalDialogСalculate .modal-content .modal-body .sub-text{
        padding-right: 0px;
    }
}